html, body {
	margin: auto;
	height: 100%;
	background-color: green;
}

div {
	width: 100%;
	height: 100%;
	position: absolute;
	text-align: center;
}

h1 {
	color: orangered;
}

#cover {
	background-color: green;
	z-index: 1;
	transition: 1s;
	transform-origin: left;
}

#message {
	background-color: bisque;
	z-index: 0;
}

.open-card {
	transform: rotateY(90deg);
}

img {
	width: 40%;
}

.button {
	font-size: 17px;
	background-color: coral;
	border: none;
	color: white;
	padding: 15px 32px;
	cursor: pointer;
	margin: 10px;
}